body
{
    font-family: 'Open Sans', sans-serif;
}
#mainContainer
{
    width:670px;
    margin: 0 auto;
}
#mainContainerLogin
{
    width:400px;
    margin: 0 auto;
}
h1
{
    text-transform: uppercase;
    color: #393939;
    margin-bottom: 0px;
}
td input
{
    
}
tr td
{
    text-transform: uppercase;
    color: #484848;
    
}
td a
{
    font-size: 12px;
    padding-left: 10px;
    text-transform: none;
    color: #393939;
    text-decoration:none;
}
td a:hover
{
    transition-duration: 200ms;
    color: red;
}
#loginButton
{
    width: 100%;
}
.error
{
    color: red;
    font-size: 12px;
    text-transform: none;
    
    
}